#fostered {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#fostered:hover {
    background-color:rgb(1, 80, 1);
}


#fostered.clicked {
    background-color: red;
}

#fostered.clicked:hover {
    background-color:rgb(158, 3, 3);
}

.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.animal-item {
    margin: 10px;
    text-align: center;
}

.animal-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.animal-detail-picture {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.animal-details {
    background-color: rgb(247, 220, 202);
    padding: 70px;
    border-radius: 5px;
}


.animal-details-title {
    text-align: center;
}

.animal {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(243, 236, 236);
    padding: 100px;
    border-radius: 15px;
}

span {
    content: "\2191";
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

.back-to-top span {
    font-size: 130px; 
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(247, 220, 202);
    padding: 100px;
    border-radius: 15px;
}


.profile-details {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(243, 236, 236);
    padding: 50px;
    border-radius: 15px;
}


.animal-edit-details {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(243, 236, 236);
    padding: 50px;
    border-radius: 15px;
}

.add-animal {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(243, 236, 236);
    padding: 50px;
    border-radius: 15px;
}

#add-animal {
    background-color: #808080; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}

#add-animal:hover {
    background-color: #a9a9a9;
}

#edit-animal {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
}

#edit-animal:hover {
    background-color:rgb(1, 80, 1);
}

#delete-animal {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#delete-animal:hover {
background-color:rgb(158, 3, 3);
}

#submit-animal {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

#submit-animal:hover {
background-color:rgb(1, 80, 1);
}


.selected-breed {
    color: #270fff;
}


#adoption {
    background-color: #0966c9; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#adoption:hover {
    background-color: #014d9e; 
}

#foster {
    background-color: green; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#foster:hover {
    background-color:rgb(1, 80, 1); 
}

#return-foster {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#return-foster:hover {
    background-color: rgb(158, 3, 3);
}


